body {
  background-color: hsl(217, 56%, 44%);
}

/* h1 */
.textField {
  font-size: 2rem;
  text-align: center;
  color: black;
}

/* buttons */

button {
  border: 2px solid;
  cursor: pointer;
  background-color: hsl(138, 57%, 66%);
  font-size: 1.1rem;
  width: 110px;
  height: 50px;
  border-radius: 50px;
  font-weight: bold;
}

button:hover {
  background-color: hsl(138, 57%, 36%);
}

.resetBtn {
  background-color: hsl(0, 51%, 58%);
}

.resetBtn:hover {
  background-color: hsl(0, 51%, 30%);
}


/* box */

.box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* container */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: auto;
}
